<html ng-app="countryApp">
  <head>
    <meta charset="utf-8">
    <title>GTsul app</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"</script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js"></script>
    <script src="js/script_funcoes.js"></script>
      
    <script src="js/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style_index.css  ">
    <script type="text/javascript">

    var countryApp = angular.module('countryApp', []);

      countryApp.controller('CountryCtrl', ['$scope', '$http', function (scope, http){
        http.get('http://alexdb.ddns.net/app/dados.php').success(function(data) {
          scope.countries = data;
        });
      }]);

    </script>

  </head>
  <body ng-controller="CountryCtrl">    
     <nav id="esp">
      <nav  id="res" ng-repeat="country in countries | filter:query">
        <li>
          <div class="normal" id='{{country.codigo_lugar}}' onclick='ampliame(this.id)' ><img id="lugar" name="lugar" srcset='{{country.foto_lugar}}'>
        </li>
         <div  class="conteudo" id='{{country.0}}' >
        <li>
          {{country.nome_lugar}}
        </li>
        <li>
          {{country.email_lugar}}
          <li>
          <a href="tel:{{country.fone_lugar}}">{{country.fone_lugar}}</a>
        </li>
        </li>
        </div>

      </nav>
      </nav>
    <header class="topnavContainer topnavContainerScroll" >
      <input id="pesquisa" ng-model="query" type="text"/>   
    </header> 

     <div id="op" onclick="voltanormal1()">  
      <div id="m"></div> 
      <div id="m"></div> 
      <div id="m"></div>      
    </div>  

  </body>
</html>