<html ng-app="countryApp">
  <head>
    <meta charset="utf-8">
    <title>GTsul app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"</script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js"></script>
      
    <script src="js/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style_index.css  ">
    <script type="text/javascript">

    var countryApp = angular.module('countryApp', []);

      countryApp.controller('CountryCtrl', ['$scope', '$http', function (scope, http){
        http.get('http://alexdb.ddns.net/app/dados.php').success(function(data) {
          scope.countries = data;
        });
      }]);
    </script>
  </head>
  <body ng-controller="CountryCtrl">    
     <nav id="esp">
      <nav  id="res" ng-repeat="country in countries | filter:query">
        <td><div ><img id="lugar" name="lugar" srcset={{country.foto_lugar}} ></div></td>
      </nav>
      </nav>
    <header class="topnavContainer topnavContainerScroll" >
      <input id="pesquisa" ng-model="query" type="text"/>   
    </header> 

     <div id="op">  
      <div id="m"></div> 
      <div id="m"></div> 
      <div id="m"></div>      
    </div>  

  </body>
</html>